<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.CartMapper">

    <update id="updateById">
        update cart set count = #{count} where id = #{id}
    </update>


    <delete id="deleteById">
        delete from cart where id = #{id}
    </delete>

    <insert id="save">
        insert into cart(goods_id, user_id, count, create_time) values (#{goodsId}, #{userId}, #{count}, #{createTime})
    </insert>

    <select id="getById" resultType="com.example.springboot.entity.Cart">
        select * from cart where user_id = #{userId} And goods_id = #{goodsId}
    </select>

    <select id="selectUserCart" resultType="com.example.springboot.entity.CartListDo">
        SELECT A.id, B.id as goodsId, imgs, name, price, discount, count, store, A.create_time FROM cart AS A INNER JOIN goods AS B ON A.goods_id = B.id WHERE A.user_id = #{id}
    </select>

    <delete id="deleteAll">
        delete from cart
    </delete>

    <delete id="deleteByUserId">
        delete from cart where user_id = #{userId}
    </delete>
</mapper>